* {
	font-family: sans-serif;	
}

header {
	width: 700px;	
	margin: 0 auto;
	padding: 15px;
}

header .nav{
	padding: 0 0 10px 0;
}

header .nav a {
	text-decoration: none;
	color: #000;
	padding: 15px 15px 0px 0px;
}
header .nav a:hover {
	opacity: 0.5;
}

figure {
	text-align: center;	
}

#content {
	width: 700px;	
	margin: 0 auto;
	padding: 15px;	
}

#content #disqus_thread {
	margin-top: 45px;
}

#content .info {
	padding-bottom: 5px;	
}

#content .home img {
	display: block;
	margin: auto;
}

#content .list li {
	list-style: none;
	padding: 15px;
	margin-top: 10px;
	background-color: #e8e8e8;
}

#content .list li a {
	text-decoration: none;
	color: #000;	
}
#content .list li a:hover {
	opacity: 0.7;
}
footer {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	padding: 5px 15px;	
}

footer .sosmed {
	padding: 10px 0 0 0;
}

footer .sosmed a {
	text-decoration: none;
	color: #000;
	padding: 15px 15px 0px 0px;
}
footer .sosmed a:hover {
	opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  header,
  #content,
  footer {
  	width: 350px;
  }
  img {
  	max-width: 300px;
  }
}