@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
}

header.navbar-container {
  max-width: 1200px;
  width: 100%;
  right: 0;
  left: 0;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #fff;
  padding-block: 1rem;
  z-index: 999;
}

header.navbar-container .logo {
  background-color: #425c77;
  border-radius: 25px;
}

header.navbar-container .logo h1 {
  color: #fff;
  padding: 0px 20px;
  margin: 0;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #425c77;
  color: white;
}

main {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding: 10rem 4rem;
  flex: 1;

  display: flex;
  align-items: center;
}

main .content {
  flex: 1;
  display: flex;
  align-items: center;
}

main .content .content-description {
  flex: 1 1;
}

main .content .content-description .content-title {
  font-size: 3.5rem;
  margin-block: 1rem;
}

main .content .content-description p {
  line-height: 1.7rem;
  font-size: 1.2rem;
}

main .content .content-description .btn {
  padding: 0.8rem 2.5rem;
  margin-block-start: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  color: white;
  border: 3px solid transparent;
  border-radius: 999px;
  background-color: #2d3e50;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

main .content .content-description button:hover {
  border: 3px solid #2d3e50;
  color: #2d3e50;
  background-color: transparent;
}

main .content .content-image {
  flex: 1;
  display: flex;
}

main .content .content-image img {
  margin: auto;
  min-width: 250px;
  width: 300px;
  border-radius: 15%;
}

main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social-media {
  height: 100%;
  display: flex;
}

main aside .social-media ul {
  padding: 1.5rem 1rem;
  margin: auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #2d3e50;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: all 0.1s ease-in-out;
}

main aside .social-media li a:hover {
  color: #89b0d9;
}

section h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.5rem;
}

.about {
  padding: 5rem 4rem;
}
section h3 + p {
  width: 500px;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}

section .about-description .mark {
  color: #2d3e50;
  font-weight: 700;
}

section .about-tools {
  text-align: center;
  background-color: #2d3e50;
  color: #fff;
  font-size: 1.3rem;
  width: 100px;
  margin: auto;
  padding: 10px 0px;
  border-radius: 25px;
}

section .about-tools-description {
  padding: 3rem 4rem;
  display: flex;
  justify-content: center;
}

section .about-tools-description img {
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.projects {
  padding: 6rem 0rem;
}

section .projects-wrapper {
  text-align: center;
  padding: 1rem 0rem;
}

section .projects-wrapper .cards {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 5rem;
}

section .projects-wrapper .cards .card {
  border: 1px solid #2d3e50;
  color: #2d3e50;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 40%;
}

.card .container {
  padding: 1rem;
}

.card .container h2 {
  padding: 0 0 0.5rem 0;
}

.card .container .card-links {
  display: block;
}

section .projects-wrapper .cards .card img {
  border: 1px solid #2d3e50;
  max-width: 100%;
}

section .btn {
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 999px;
  background-color: #2d3e50;
  transition: all 0.15s ease-in;
}

section .btn:hover {
  border: 2px solid #2d3e50;
  color: #2d3e50;
  background-color: transparent;
}

/*End of Main Content*/

/* Medium devices (landscape tablets, 768px and down) */
@media screen and (max-width: 768px) {
  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  main .content {
    flex-direction: column;
    gap: 2rem;
  }

  main .content .content-description .content-title {
    font-size: 3rem;
  }

  main .content .content-description p {
    font-size: 1rem;
  }

  main .content .content-image {
    order: -1;
  }

  section h3 + p {
    font-size: 1rem;
    width: 300px;
  }

  section .about-tools-description {
    padding: 3rem 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  section .about-tools-description img {
    width: 100px;
    aspect-ratio: 3/2;
    object-fit: contain;
  }

  section .projects-wrapper .cards {
    gap: 1rem;
  }

  section .projects-wrapper .cards .card {
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 45%;
  }

  section .btn {
    padding: 0.5rem 0.5rem;
    font-weight: 700;
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 999px;
    background-color: #2d3e50;
    transition: all 0.15s ease-in;
  }

  .card .container h2 {
    font-size: 1rem;
    /* padding: 0; */
  }

  .card .container .card-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2rem;
  }
}
